/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* Variables */
:root {
  --main-color: #54B689;
  --main-text-color: #FFF;
  --border-color: #999;
  --bio-bg-color: #212121;
  --bio-border-color: #777a7e;
  --about-bg-color: #13131F;
  --skills-bg-color: #EBECEE;
  --orange: #EB9B00;
}

/* General */
.highlight {
  font-family: 'Roboto Mono', monospace;
  color: var(--main-color);
}

/* Containers */
#container {
   
  color: var(--main-text-color);
}


#bio-container {
  flex: 1 1 20%;
  min-height: 100vh;
  background-color: #17191d;
  text-align: center;
  padding: 30px 12px;
  border-right: 5px solid var(--bio-border-color);
}

#about-container {
  flex: 1 1 80%;
  align-items: center;
  min-height: 100vh;
  background-color: #17191d;
  padding: 50px;
}

#projects-container {
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: #17191d;
  padding: 50px;
  
}

.bio-container__grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.bio-container__grid .title {
  flex: 1 1 0;
  font-size: 52px;
  margin-bottom: 25px;
  font-weight: bold;
  align-items: center;

}

.portifolio_items {
  display: flex;
}

.portifolio_items img {
  width: 400px;
  height: 400px;
 
}

/* Bio container */


#bio-container p {
  margin-bottom: 20px;
}

.welcome-text {
  
  font-size: 18px;
}

#bio-image {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  margin-bottom: 25px;
}


#social-container li {
  flex: 1 1 0;
  max-width: 60px;
}

#social-container li a {
  color: var(--main-color);
  font-size: 30px;
}

#email-container {
  display: flex;
  justify-content: center;
}

#email-container ion-icon,
#email-container a {
  flex: 1 1 0;
}

#email-container a {
  color: var(--main-text-color);
  text-decoration: none;
  max-width: 225px;
}

#email-container ion-icon {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
  max-width: 20px;
}

/* about container */
h2 {
  font-size: 42px;
  margin-bottom: 15px;
}

#title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

.description {
  max-width: 75%;
  margin-top: 10px; ;
  margin-bottom: 10px;
}

.btns__main {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 25px;
 justify-content: space-around;
}


#btn-projects {
  font-weight: bold;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--orange);
  border: 2px solid var(--skills-bg-color);
  border-radius: 5px;
  text-decoration: none;
  transition: .5s;
  margin: 25px 0;
  padding: 12px 10px;
  width: 150px;
  text-align: center;
  display: flex;
}

.btn-contact {
  font-weight: bold;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: transparent;
  border: 2px solid var(--skills-bg-color);
  border-radius: 5px;
  text-decoration: none;
  transition: .5s;
  margin: 25px 0;
  padding: 12px 10px;
  width: 173px;
  text-align: center;
  display: flex;
}

.btn-contact:hover {
  background-color: var(--orange);
  color: var(--main-text-color);
}

#btn-projects-two {
  font-weight: bold;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--orange);
  border: 2px solid var(--skills-bg-color);
  border-radius: 5px;
  text-decoration: none;
  transition: .5s;
  margin: 25px 0;
  padding: 12px 10px;
  width: 200px;
  text-align: center;
  margin-left: 5px;
 
}

#btn-projects ion-icon,
#btn-projects span {
  flex: 1 1 0;
}

#btn-projects ion-icon {
  font-size: 20px;
  max-width: 20px;
}

#btn-projects:hover {
  background-color: transparent;
}



#skills-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;

}

.skills-box {
  flex: 1 1 33%;
  max-width: 33%;
  margin-bottom: 35px;
}

.skills-title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid var(--main-color);
}

.swiper-slide img {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: .5em 0;
}


.skills-box i {
  font-size: 45px;
  margin-right: 10px;
}

.page-footer {
  background-color: var(--bio-bg-color); /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto do rodapé */
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

/* Mobile */
@media(max-width: 450px) {

  #container {
    flex-direction: column;
  }

  h2 {
  
    font-size: 8px; /* Ajuste o tamanho conforme necessário */
    
  }
  

  #bio-container {
    min-height: auto;
    border-right: none;
   
  }

  .bio-container__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .btn-contact {
    width: 100%; 
    margin: 20px auto; 
    display: block; 
  }

  #btn-projects {
    width: 100%; 
    margin: 20px auto; 
    display: block; 
  }

  .btns__main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #bio-container h2 {
    font-size: 22px;
  }

  #bio-container #bio-image {
    display: none;
  }

  #bio-container p {
    max-width: 60%;
    margin: 10px auto;
  }

  #about-container {
    text-align: center;
    padding: 30px;
  }

  #about-container .description {
    margin: 10px auto;
    max-width: 100%;
    line-height: 26px;
  }

  .portifolio_items {
    display: block;
  }
  
  .portifolio_items img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
  }


  .skills-box {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

  .skills-box i {
    font-size: 60px;
  }

}